extends ../layout

block stylesheets
    link(rel='stylesheet', href='/css/supply.css')

block content
    .supply-product-header
        h1 The #{product.title}
    .supply-product-container
        .img-wrapper
        p= product.text[0]
        h1 ODOR ABSORBING, WATER RESISTANT
        .fabric-img-wrapper
        p= product.text[1]
        a#store-link(href=`/shop/${product.tag}`) Get The #{product.title} Now
        .large-img-wrapper

block scripts
    script(src='/js/supply.js')
