extends layout

block content
    mixin cartItem(item)
        li.cartItem(id=item.name, data-color=item.color)
            h4= `${item.name} - ${item.color} [${item.quantity}]`
            button#removeButton &nbsp;X&nbsp;
    ul#cart
        each item in cart
            +cartItem(item)

block scripts
    script(src='/js/cart.js')
