extends layout

block stylesheets
    link(rel='stylesheet', href='/css/cart.css')

block content
    - let index = 0;
        mixin cartItem(item)
            li.cartItem(data-index=index, data-name=item.name, data-color=item.color, data-price=item.price)
                .cart-item-name= item.name
                .cart-item-color= item.color
                .cart-item-quantity
                    button#decrementButton(data-value='-1') &nbsp;-&nbsp;
                    input#addToCartQuantityInput(type='text', name='productQuantity', value=item.quantity, data-index=index)
                    button#incrementButton(data-value='1') &nbsp;+&nbsp;
                .cart-item-price= '$' + (item.price * item.quantity).toFixed(2)
                .cart-item-remove-button
                    a#removeButton &nbsp;X&nbsp;
        h4#emptyCartHeader &nbsp;
        ul#cart
            li.cart-item-header
                span Product
                span Color
                span Quantity
                span Price
                span Remove
            each item in cart
                +cartItem(item)
                - index++
        .cart-page-actions
            a#backToStoreLink(href='/shop') Back To Store
            .cart-price-total
            a#checkOutLink(href='/checkout') Check Out
block scripts
    script(src='/js/cart.js')
